################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FAO InFARM Interpreter Interface/.vs
/FAO InFARM Interpreter Interface/obj
/.vs/FAO InFARM Interpreter Interface
/FAO InFARM Interpreter Interface/bin/Debug/net8.0-windows
/.vs/ProjectEvaluation
/FAO InFARM Library/bin/Debug/net8.0
/FAO InFARM Library/obj
/FAO InFARM Interpreter Interface/bin/Release/net8.0-windows
/FAO InFARM Library/bin/Release/net8.0
